html {
	font-size: 16px;
}

body{
	background: white;
}

h1 {
	font: 3em "Work Sans" sans-serif;
	text-align: center;
	color: #DEDEDE;
	background: #ABACEB;
	padding: 0;
	margin: 0px 0px 0px 0px;
}
#pagetitle {
	font: 1em "Work Sans" sans-serif;
	text-align: center;
	color: #ABACEB;
	background: #DEDEDE;
	box-shadow: 10px 10PX 0 #7f8c8d;
	margin: 0px 0px 0px 0px;
}

header {
	width:100%;
	height: 270px;
	text-align:center;
	margin: 10px 0px 0px 0px;
}

#navbar {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 9999;
	font: 1em "Work Sans" sans-serif;
	text-align: center;
	color: #ABACEB;
	background: #DEDEDE;
	box-shadow: 10px 10PX 0 #7f8c8d;
	padding: 15px;
	margin: 0px 0px 0px 0px;
}

#navbar a{
	font: 1em "Work Sans" sans-serif;
	text-align: center;
	color: #ABACEB;
	text-decoration: none;
}

#navbar a:hover{
	font: 1em "Work Sans" sans-serif;
	font-style: oblique;
	text-align: center;
	color: #ABEBCA;
	background: white;
	box-shadow: 5px 5PX 0 0 #7f8c8d;
}

.content {
	text-align: center;
	font: 1em "Helvetica Neue" sans-serif;
	color: #88888A;
	background: #ABEBCA;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	max-width: 800px;
	min-width: 400px;
	height: auto;
	border-radius: 100px;
	padding: 20px;
}

#prof {
	width: 257px;
	height: 257px;
	border: 5px solid #88888A;
	border-radius: 150px;
	text-align: center;
}


#prof:hover {
	width: 260px;
	height: 260px;
	border: 6px solid #fff796;
	border-radius: 105px;
	box-shadow: 10px 10px 10px 2px #777352;
}

#prof:focus {
	width: 260px;
	height: 260px;
	border: 6px solid #fff796;
	border-radius: 105px;
	box-shadow: 10px 10px 10px 2px #777352;
}

.iglogo {
	width: 30px;
	height:30px;
	display:block;
	background:transparent url('iglogo.png') center top no-repeat;
}

.iglogo:hover {
	background-image: url('img/igalt.png');

}

.iglogo {
	width: 30px;
	height:30px;
	display:block;
	background:transparent url('img/tumblrlogo.png') center top no-repeat;
}

.iglogo:hover {
	background-image: url('img/tumblralt.png');

}

.tweetlogo {
	width: 30px;
	height:30px;
	display:block;
	background:transparent url('img/tweetlogo.png') center top no-repeat;
}

.iglogo:hover {
	background-image: url('img/tweetalt.png');

}